.tarjetaRecetaPadre{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
.tarjetaRecetaHija{
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow:  2px 3px 5px rgb(106, 12, 109);
    background-color: rgb(248,249,250)
}
.headerTarjeta{
    display: flex;
    justify-content: center;
}
#ic2{
    margin-left: 15px;
}
.camposTarjeta{
    margin: 15px;
    margin-top: 20px;
}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.campoImg{
    display: flex;
    justify-content: center;
}
.imgR{
    border-radius: 30px;
    box-shadow:  2px 3px 5px rgb(161, 157, 161);
}
.camposInfo{
    margin: 15px;
    margin-top: 10px;
}
.camposInfo{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
}