.bannerPrincipal{
    display: flex;
    justify-content: center;
    background-color: rgb(230,255,255);
}
.imgbannerP{
    width: 50%;
}
h2{
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
.tarjetaPadre{
    display: flex;
    justify-content: center;
}
.tarjeta{
    box-shadow:  2px 3px 5px #999;
    width: 50%;
}
.sub1{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 218, 223);
}
h6{
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
}
a{
    margin-right: 2%;
    text-decoration: none;
    color: rgb(21, 182, 168);
}
.iconoF{
    margin-right: 2%;
    margin-top: 6px;
    color: rgb(184, 51, 133);
    border-color: black;
}
#iconoF2{
    margin-right: 2%;
    margin-top: 6px;
    color: rgb(255, 200, 80);
    border-color: black;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 200, 80);
}
.sub2{
    margin: 2%;
}
h4{
    font-family: 'Inconsolata', monospace;
}
.sub2Span{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}
/*   Parte del css que pertenece a la MisRecetas.php   */
.subCrear{
    margin-left: 20px;
    margin-bottom: 10px;  
}
.btnCrear{
    width: 13%;
    height: 50px;
    border: 1px;
    border-style:double;
    border-radius: 20px;
    border-color: rgb(21, 182, 168);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 3px;
    font-family: 'Montserrat', sans-serif;
}
.btnCrear:hover{
    background-color: rgb(40, 192, 179);
    color: white;
}
#iconoCrear{
    margin: 3px;
    color: rgb(144, 231, 224);
}
.sub3{
    display: flex;
}
.subEditar{
    width: 100%;
    height: 100%;
}
.btnEditar{
    width: 100%;
    border: 1px;
    background-color: black;
    color: azure;
}
.subEliminar{
    width: 100%;
    height: 100%;
}
.btnEliminar{
    width: 100%;
    border: 1px;
    background-color: rgb(21, 182, 168);
    color: azure;
}

/*   Parte del css que pertenece a la crear_EditarRecetas.php   */
.headerTarjetaCrear{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campoTitulo{
    border-radius: 5px;
    border-color: rgb(228, 20, 124);
    border-width: 1px;
    width: 30%;
}
.infoCrear{
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 8px;
}
.dropC{
    border-radius: 6px;
    border-color: rgb(228, 20, 124);
    border-width: 1px;
}
.campoIngr{
    border-radius: 5px;
    border-color: rgb(228, 20, 124);
    border-width: 1px;
    width: 100%;
}
.campoDescrip{
    border-radius: 5px;
    border-color: rgb(228, 20, 124);
    border-width: 1px;    
    width: 100%;
}
.campoImgC{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnEnviar{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}
